

 
.container2{
    background: rgb(0, 0, 0);
    display: flex ;
    justify-content: space-between;
    flex-direction: row ;
    flex-wrap: wrap;
    align-items: center ;
    padding: 10px;
  
    

    
    
}


.child{
   
   padding: 9px;
 
    
}

